body {
  background-color: #FBFCF6; /* For standard color of all pages*/
  font-family: verdana, serif;
}

hr {
    border-style: dotted none none;
    border-top-width: 5px;
    color: gray;
}

h4 {
  font-size: 1.65rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: normal;
}

h6 {
  display: block;
  font-size: 0.9em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
/*********************************************************************************************************************************************************************************/
.mainBody {
  background-color: #FCFCFC; /* For standard color of all main bodies*/
}

.titleImg {
  border-radius: 30%; /* For main logo sizing*/
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.subTitleTxt {
  display: inline-block;
  margin-bottom: 5px;
}

.txtCenter {
  text-align: center; /* Aligning texts to center*/
}

.mainImgs {
  height: 330px;    /* Standard Sizes for Shrimp Images*/
  width: 330px;
}

.mainImgsTables {
  border-spacing: 50px; /* Orgnization for product images and footer, also used to center images*/
  margin: 0 auto;
  padding-left: 250px;
  padding-right: 250px;
}

.pinkFlamigoDiv{
  display: inline-block;
  width: 80%;
  margin-top: 30px;
}

.redRootFloatersDiv{
  width: 80%;
  margin: 30px auto 70px 260px;
}

.BuceDiv{
  width: 80%;
  margin: 30px auto 70px 260px;
}

.fireRedDiv {
  display: inline-block;
  width: 80%;
  margin-top: 30px;
}

.blueDreamDiv {
  width: 80%;
  margin: 30px auto 170px 260px;
}

.orangeRilliDiv {
  width: 80%;
  margin: 30px auto 170px 260px;
}

.redRilliDiv {
  width: 80%;
  margin: 30px auto 170px 260px;
}

.crystalRedDiv {
  width: 80%;
  margin: 30px auto 170px 260px;
}

.pintoDiv {
  width: 80%;
  margin: 30px auto 170px 260px;
}

.mainImgs2Left {
  border-radius: 65%;
  height: 300px;
  width: 350px;
  margin: 0 30px 0 30px;
  float: left;
}

.mainBodySpacing {
  width: 250px;    /* To seperate table of contents from products*/
  height: auto;
  vertical-align: top;
  display: inline-block;
}

.plantDescTd {
padding-right: 10px;
margin-top: 0;
}

.plantDescTbl {
  border-spacing: 0;
  margin-bottom: 20px;
}

.marginRemoveTop { /* Margin Removal*/
  margin-top: 0;
}

.marginRemoveBottom{ /* Margin Removal*/
  margin-bottom: 0;
}

.mainTitleSizePosition { /* Main Title size*/
  font-size: 3.25rem;
  position: absolute;
  left: calc(50% - 170px);
  display: inline-block;
}

.imgMiddle {
  margin-left: auto;
  margin-right: auto;
}

/* Footer Stuff */
.footerIconsMargins {
  margin: 10px;
  width: 40px;
}

.footerPositioningInsta {
  position: absolute;
  left: calc(50% + 30px);
}

.footerPositioningContact {
  position: absolute;
  left: calc(50% - 30px);
}

.footerShrimp1 {
  margin: 0;
  height: 70px;
  width: 70px;
}

.footerShrimp2 {
  margin: 0;
  height: 70px;
  width: 70px;
  position: absolute;
  right: 0;
}

.hover:hover {
  transform: scaleX(-1);
}

/*********************************************************************************************************************************************************************************/
